<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--默认配置-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--跨域配置-->
  <add key="cors_allowOrigins" value="*"/>
  <add key="cors_allowHeaders" value="*"/>
  <add key="cors_allowMethods" value="*"/>
</appSettings>