<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--默认配置-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!-- ================== 1：json文件地址  ================== -->
  <add key="CNJsonAddress" value="bin\CommonJson\JsonFile\zh-CN.json"/>
  <add key="ENJsonAddress" value="bin\CommonJson\JsonFile\En.json"/>
  <!-- ================== 2：跨域配置 ==================-->
  <add key="cors_allowOrigins" value="*"/>
  <add key="cors_allowHeaders" value="*"/>
  <add key="cors_allowMethods" value="*"/>
  <!-- ================== 3：redisKey(redis相关配置) ================== -->
  <add key="redisKey" value="Dapper_"/>
  <add key="RedisUserDB" value="0"/>
  <add key="RedisCommonDB" value="1"/>
  <!-- ================== 4：图片上传  ================== -->
  <add key="UploadFormat" value="png,jpg,jpeg,gif,ico,PNG,JPG,zip"/>
  <add key="UploadFileSize" value="100"/>
  <!--<add key="ServerImgaes" value="http://43.254.225.121:9211/api"/>-->
  <add key="ServerImgaes" value="http://localhost:8090/api"/>
  <!-- ================== 5：RabbitMQ连接管理信息 ================== -->
  <add key="HostName" value="127.0.0.1"/>
  <add key="UserName" value="guest"/>
  <add key="Password" value="guest"/>
</appSettings>