<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--默认配置-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--json文件地址-->
  <add key="CNJsonAddress" value="bin\CommonJson\JsonFile\zh-CN.json"/>
  <add key="ENJsonAddress" value="bin\CommonJson\JsonFile\En.json"/>
  <!--跨域配置-->
  <add key="cors_allowOrigins" value="*"/>
  <add key="cors_allowHeaders" value="*"/>
  <add key="cors_allowMethods" value="*"/>
  <!--redisKey-->
  <add key="redisKey" value="Dapper_"/>
</appSettings>