<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--读写数据库配置-->
  <add name="WriteData" connectionString="server=121.36.213.19;user id=sa; password=Ulink2020; database=NewDapperDB;"/>
  <add name="ReadData" connectionString="server=121.36.213.19;user id=sa; password=Ulink2020; database=NewDapperDB;"/>
  <!--Redis配置-->
  <add name="RedisExchangeHosts" connectionString="121.36.213.19:6380,password=redis@2020,ConnectTimeout=10000"/>
  <!--连接MYSQL读写数据库-->
  <!--<add name="WriteMySqlData" connectionString="Database=newdapperdb;Data Source=localhost;User Id=root;Password=admin@2019;CharSet=utf8;port=3306"/>
  <add name="ReadMySqlData" connectionString="Database=newdapperdb;Data Source=localhost;User Id=root;Password=admin@2019;CharSet=utf8;port=3306"/>-->
  <add name="CSRedisExchangeHosts" connectionString="121.36.213.19,password=redis@2019,defaultDatabase={0},prefix=OTMS_"/>
</connectionStrings>
