<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--读写数据库配置-->
  <add name="WriteData" connectionString="server=47.75.241.154;user id=sa; password=admin@2019; database=NewDapperDB;"/>
  <add name="ReadData" connectionString="server=47.75.241.154;user id=sa; password=admin@2019; database=NewDapperDB;"/>
  <!--Redis配置-->
  <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,password=admin@2019,ConnectTimeout=10000"/>
</connectionStrings>
