<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="ErrorLogFileAppender" />
    <appender-ref ref="TraceLogFileAppender" />
  </root>

  <!--跟踪日志输出-->
  <appender name="TraceLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="UploadLog/" />
    <appendToFile value="true" />
    <MaxSizeRollBackups value="20" />
    <RollingStyle value="Date" />
    <DatePattern value="/yyyy-MM-dd/&quot;Trace.log&quot;" />
    <StaticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <ConversionPattern value="%n记录时间:%d %n日志级别：%-5p %n日志内容:%m %n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter,log4net">
      <levelMin value="DEBUG" />
      <levelMax value="INFO" />
    </filter>
  </appender>

  <!--错误日志输出-->
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="UploadLog/" />
    <MaxSizeRollBackups value="-1" />
    <StaticLogFileName value="false" />
    <DatePattern value="/yyyy-MM-dd/&quot;Error.log&quot;" />
    <RollingStyle value="Date" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <ConversionPattern value="%n记录时间:%d %n日志级别：%-5p %n日志内容:%m %n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter,log4net">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
</log4net>
</configuration>
