<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--读写数据库配置-->
  <add name="WriteData" connectionString="server=127.0.0.1;user id=sa; password=admin@2019; database=TestDB;"/>
  <add name="ReadData" connectionString="server=127.0.0.1;user id=sa; password=admin@2019; database=TestDB;"/>
  <!--Redis配置-->
  <add name="RedisExchangeHosts" connectionString="192.168.2.154:6379,password=admin@2019,ConnectTimeout=10000"/>
</connectionStrings>
